@page "/staff"
@using VoyageCare.Shared
@using Blazorise
@using Blazorise.Components
@inject VoyageCareClient Http

<PageTitle>Staff</PageTitle>

<h1>Staff</h1>

@if (_homes == null)
{
    <p><em>Loading...</em></p>

    return;
}

<DropdownList @ref="ddlCareHome"
              TItem="CareHome" TValue="int"
              Data="@_homes"
              TextField="@((item)=>item.Name)"
              ValueField="@((item)=>item.CareHomeID)"
              Color="Color.Primary"
              MaxMenuHeight="200px"
              SelectedValueChanged="CareHomeSelected"
              class="float-left">
    @(@_homes?.FirstOrDefault(x => x.CareHomeID == _selectedCareHomeID)?.Name ?? "Select Care Home")
</DropdownList>

<button type="button" class="btn btn-primary float-right" @onclick="NewStaff" hidden="@(_selectedCareHomeID <= 0)" >New Staff</button>

@if (_staff == null)
{
    return;
}   

<table class="table" style="width: 50%">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in _staff)
        {
            <tr>
                <td>@staff.Forename @staff.Surname</td>
            </tr>
        }
    </tbody>
</table>

@if (_staffID == null)
{
    return;
}   

<table class="table" style="width: 50%" hidden="@(_staffID <= 0)">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in _staff)
        {
            <tr>
                <td>@staff.Forename @staff.Surname</td>
            </tr>
        }
    </tbody>
</table>

@code{
    private List<VoyageCare.Shared.CareHome>? _homes;
    private List<VoyageCare.Shared.CareHomeStaff>? _staff;
    private int _selectedCareHomeID { get; set; } = -1;
    private int _staffID { get; set; } = -1;
    private DropdownList<CareHome, int> ddlCareHome;

    protected override async Task OnInitializedAsync()
    {
        _homes = await Http.GetAllCareHomesAsync();
        await base.OnInitializedAsync();
    }

    private async void NewStaff()
    {
        _staffID = 0;

        await InvokeAsync(StateHasChanged);
    }

    private async void CareHomeSelected()
    {
        _selectedCareHomeID = ddlCareHome.SelectedValue;

        _staff = await Http.GetAllCareHomeStaffAsync(_selectedCareHomeID);

        await InvokeAsync(StateHasChanged);
    }
}
